<div class="bg-info p-2 text-center text-white">
  <h3>Incident Admin</h3>
</div>
<div
  class="bg-danger mt-2 p-2 text-center text-white"
  *ngIf="errorMessage != null"
>
  {{ errorMessage }}
</div>
<div class="p-2">
  <form novalidate #myForm="ngForm" (ngSubmit)="authenticate(myForm)">
    <div class="form-group">
      <label>Email</label>
      <input
        class="form-control"
        name="email"
        type="email"
        [(ngModel)]="email"
        required
      />
    </div>
    <div class="form-group">
      <label>Password</label>
      <input
        class="form-control"
        type="password"
        name="password"
        [(ngModel)]="password"
        required
      />
    </div>
    <div class="text-center">
      <p>
        Don't have an account?
        <a class="pe-auto" routerLink="/register">Sign up</a>
      </p>
      <button class="btn btn-secondary m-1" type="reset" (click)="goBack()">
        Go back
      </button>
      <button class="btn btn-primary m-1" type="submit">Log In</button>
    </div>
  </form>
</div>
