<!-- MAIN CONTENT -->
<div
  class="container-fluid"
  style="background-color: burlywood; height: 100vh;position:absolute; justify-content: center;align-items: center;"
>
  <div class="row">
    <div class="col-md-6">
      <div>
        <div class="text">
          <h1
            style="
              color: white;
              text-shadow: 0 1px 6px rgba(81, 81, 81, 0.5);
              text-align: center;
              font-size: 55px;
              padding: 20px;
            "
          >
            Report a serious Incident
          </h1>
          <h2 class="subtitle" style="color: white">
            Please report all kinds of incidents that happen. We will take care
            of solving it as soon as possible and in the best way
          </h2>
          <br>
          <br>
          <a class="btn my-btn" routerLink="/incidents/add"
            >Register Incident</a
          >

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <img
        class=""
        src="\Assets\images\home-image.png"
        style="padding: 20px; width: 450px; height: 410px;"
      />
    </div>
  </div>
</div>
