<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div style="background-color:burlywood;min-height: 400px;">
      <div class="row">
        <div class="col-md-6">
          <div>
            <div class="text">
              <h1 class="o-hero__headline--lg" style="color:white; text-shadow: 0 1px 6px rgba(81,81,81,.5); text-align: center; font-size: 55px;">Report a serious Incident</h1>
              <h2 class="subtitle" style="color: white">Please report all kinds of incidents that happen. We will take care of solving it as soon as possible and in the best way </h2>
              <br>
              <a class="btn my-btn" href="/incidents/add">Register Incident</a> 
              
              <br>
              <br>
            
            </div>
              
          </div>
        </div>
        <div class="col-md-6">
          <img class="" src="logo.png" style="max-height: 500px; max-width: 500px;">
        </div>
      </div>
    </div>
        

<% include ../partials/footer.ejs %>


